<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/includes %>
    <title>Mythic | Bank Account</title>
    <% include ./partials/links %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Mythic</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarColor01"
        aria-controls="navbarColor01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav ml-auto">
          <li id="username" class="nav-item">
            <a href="#" class="nav-link"><%= user %></a>
          </li>
          <li class="nav-item">
            <a href="/logout" class="nav-link">Log out</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="row bank-info">
        <div class="col-md-12">
          <h4 class="account-heading">Account</h4>
          <div class="card text-white bg-dark mb-3">
            <div class="card-header">
              Bank account
            </div>
            <div class="card-body">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th>Money</th>
                    <th>Food</th>
                    <th>Gasoline</th>
                    <th>Munition</th>
                    <th>Steel</th>
                    <th>Aluminum</th>
                    <th>Uranium</th>
                    <th>Coal</th>
                    <th>Oil</th>
                    <th>Lead</th>
                    <th>Iron</th>
                    <th>Bauxite</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>$<%= Number(account.money).toLocaleString() %></td>
                    <td><%= Number(account.food).toLocaleString() %></td>
                    <td><%= Number(account.gasoline).toLocaleString() %></td>
                    <td><%= Number(account.munition).toLocaleString() %></td>
                    <td><%= Number(account.steel).toLocaleString() %></td>
                    <td><%= Number(account.alum).toLocaleString() %></td>
                    <td><%= Number(account.ura).toLocaleString() %></td>
                    <td><%= Number(account.coal).toLocaleString() %></td>
                    <td><%= Number(account.oil).toLocaleString() %></td>
                    <td><%= Number(account.lead).toLocaleString() %></td>
                    <td><%= Number(account.iron).toLocaleString() %></td>
                    <td><%= Number(account.bauxite).toLocaleString() %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row all-bank-info">
        <div class="col-md-12">
          <h4 class="account-heading">All Members</h4>
          <div class="card text-white bg-dark mb-3">
            <div class="card-header">
              Bank accounts
            </div>
            <div class="card-body">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Money</th>
                    <th>Food</th>
                    <th>Gasoline</th>
                    <th>Munition</th>
                    <th>Steel</th>
                    <th>Aluminum</th>
                    <th>Uranium</th>
                    <th>Coal</th>
                    <th>Oil</th>
                    <th>Lead</th>
                    <th>Iron</th>
                    <th>Bauxite</th>
                  </tr>
                </thead>
                <tbody>
                  <% users.forEach(user => { %>
                  <tr>
                    <td><%= user.name %></td>
                    <td>$<%= Number(user.account.money).toLocaleString() %></td>
                    <td><%= Number(user.account.food).toLocaleString() %></td>
                    <td>
                      <%= Number(user.account.gasoline).toLocaleString() %>
                    </td>
                    <td>
                      <%= Number(user.account.munition).toLocaleString() %>
                    </td>
                    <td><%= Number(user.account.steel).toLocaleString() %></td>
                    <td><%= Number(user.account.alum).toLocaleString() %></td>
                    <td><%= Number(user.account.ura).toLocaleString() %></td>
                    <td><%= Number(user.account.coal).toLocaleString() %></td>
                    <td><%= Number(user.account.oil).toLocaleString() %></td>
                    <td><%= Number(user.account.lead).toLocaleString() %></td>
                    <td><%= Number(user.account.iron).toLocaleString() %></td>
                    <td>
                      <%= Number(user.account.bauxite).toLocaleString() %>
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="history-logs">
      <p>Your logs history</p>
      <div class="manually">
        <form action="/account/addLog" method="POST">
          <select name="type">
            <option value="Deposit">Deposit</option>
            <option value="Withdraw">Withdraw</option>
          </select>
          <input type="text" name="money" />
          <input type="text" name="food" />
          <input type="text" name="gasoline" />
          <input type="text" name="munition" />
          <input type="text" name="steel" />
          <input type="text" name="alum" />
          <input type="text" name="ura" />
          <input type="text" name="coal" />
          <input type="text" name="oil" />
          <input type="text" name="lead" />
          <input type="text" name="iron" />
          <input type="text" name="bauxite" />
          <input type="submit" />
        </form>
      </div>
      <div class="automatically">
        <% if (error_message != '') { %>
        <p><%= error_message %></p>
        <% } %>
        <form action="/account/addLog" method="POST">
          <select name="type">
            <option value="Deposit">Deposit</option>
            <option value="Withdraw">Withdraw</option>
          </select>
          <textarea name="resource" id="autoForm" cols="25" rows="5"></textarea>
          <input type="submit" />
        </form>
      </div>
      <table>
        <tr>
          <th>Date</th>
          <th>Type</th>
          <th>Money</th>
          <th>Food</th>
          <th>Gasoline</th>
          <th>Munition</th>
          <th>Steel</th>
          <th>Aluminum</th>
          <th>Uranium</th>
          <th>Coal</th>
          <th>Oil</th>
          <th>Lead</th>
          <th>Iron</th>
          <th>Bauxite</th>
        </tr>
        <% logs.forEach(log => { %>
        <tr>
          <td><%= log.date %></td>
          <td><%= log.type %></td>
          <td>$<%= Number(log.resources.money).toLocaleString() %></td>
          <td><%= Number(log.resources.food).toLocaleString() %></td>
          <td><%= Number(log.resources.gasoline).toLocaleString() %></td>
          <td><%= Number(log.resources.munition).toLocaleString() %></td>
          <td><%= Number(log.resources.steel).toLocaleString() %></td>
          <td><%= Number(log.resources.alum).toLocaleString() %></td>
          <td><%= Number(log.resources.ura).toLocaleString() %></td>
          <td><%= Number(log.resources.coal).toLocaleString() %></td>
          <td><%= Number(log.resources.oil).toLocaleString() %></td>
          <td><%= Number(log.resources.lead).toLocaleString() %></td>
          <td><%= Number(log.resources.iron).toLocaleString() %></td>
          <td><%= Number(log.resources.bauxite).toLocaleString() %></td>
        </tr>
        <% }) %>
      </table>
    </div> -->

    <% include ./partials/scripts %>
  </body>
</html>
